
<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="light" data-sidebar-size="lg" data-sidebar-image="none">


<head>


    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">
    <title>Rentfoxxy -Admin</title>

    <link rel="shortcut icon" href="~/assets/img/l.png">
    <environment names="Development,Staging,Production">
        @* <link rel="shortcut icon" href="~/assets/img/favicon.png"> *@

        <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

     

        <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
        <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

        <link rel="stylesheet" href="~/assets/plugins/feather/feather.css">

        <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">

        <link rel="stylesheet" href="~/assets/plugins/datatables/datatables.min.css">
        <link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css">
        <link rel="stylesheet" href="~/assets/css/style.css">
        <script src="~/assets/js/layout.js" type="d7ef46fec84ae941d5488988-text/javascript"></script>
        <link href="~/css/toastr.min.css" rel="stylesheet" />


        <script src="~/assets/js/jquery-3.7.1.min.js" type="26810ea08a8237e6cff40ba4-text/javascript"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
</head>
<body>

    <div class="main-wrapper">

        @{
            await Html.RenderPartialAsync("HeaderView");
            await Html.RenderPartialAsync("_SidebarView");
        }
        @RenderBody()

    </div>

    @{

        await Html.RenderPartialAsync("_SettingView");
    }


    <environment names="Development,Staging,Production">
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/js/toastr.js"></script>

        <script src="~/assets/js/jquery-3.7.1.min.js" type="57229c42889ec2156bb55309-text/javascript"></script>

        <script src="~/assets/js/bootstrap.bundle.min.js" type="57229c42889ec2156bb55309-text/javascript"></script>

        <script src="~/assets/plugins/datatables/datatables.min.js" type="57229c42889ec2156bb55309-text/javascript"></script>

        <script src="~/assets/plugins/select2/js/select2.min.js" type="57229c42889ec2156bb55309-text/javascript"></script>

        <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js" type="57229c42889ec2156bb55309-text/javascript"></script>

        <script src="~/assets/plugins/moment/moment.min.js" type="57229c42889ec2156bb55309-text/javascript"></script>

        <script src="~/assets/plugins/moment/moment.min.js" type="57229c42889ec2156bb55309-text/javascript"></script>
        <script src="~/assets/js/bootstrap-datetimepicker.min.js" type="57229c42889ec2156bb55309-text/javascript"></script>

        <script src="~/assets/js/jquery-ui.min.js" type="57229c42889ec2156bb55309-text/javascript"></script>
        <script src="~/assets/js/feather.min.js" type="d7ef46fec84ae941d5488988-text/javascript"></script>
        <script src="~/assets/plugins/apexchart/apexcharts.min.js" type="d7ef46fec84ae941d5488988-text/javascript"></script>
        <script src="~/assets/plugins/apexchart/chart-data.js" type="d7ef46fec84ae941d5488988-text/javascript"></script>
        <script src="~/assets/js/theme-settings.js" type="57229c42889ec2156bb55309-text/javascript"></script>
        <script src="~/assets/js/greedynav.js" type="57229c42889ec2156bb55309-text/javascript"></script>

        <script src="~/assets/js/script.js" type="57229c42889ec2156bb55309-text/javascript"></script>
        <script src="../../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="57229c42889ec2156bb55309-|49" defer></script>
    </environment>
    @await RenderSectionAsync("Scripts", required: false)
</body>

<!-- Mirrored from kanakku.dreamstechnologies.com/html/template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 21 Aug 2024 11:04:53 GMT -->
</html>