
<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="light" data-sidebar-size="lg" data-sidebar-image="none">


<head>


    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">
    <title>Rentfoxxy -Admin</title>

    <link rel="shortcut icon" href="~/assets/img/l.png">
    <environment names="Development,Staging,Production">
        @* <link rel="shortcut icon" href="~/assets/img/favicon.png"> *@

        <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

        <style type="text/css">
            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 100;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/latin-ext/wght/normal.woff2);
                unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 100;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/greek/wght/normal.woff2);
                unicode-range: U+0370-03FF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 100;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/vietnamese/wght/normal.woff2);
                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 100;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/greek-ext/wght/normal.woff2);
                unicode-range: U+1F00-1FFF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 100;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/cyrillic/wght/normal.woff2);
                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 100;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/cyrillic-ext/wght/normal.woff2);
                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 100;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/latin/wght/normal.woff2);
                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 200;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/cyrillic/wght/normal.woff2);
                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 200;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/greek/wght/normal.woff2);
                unicode-range: U+0370-03FF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 200;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/greek-ext/wght/normal.woff2);
                unicode-range: U+1F00-1FFF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 200;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/latin/wght/normal.woff2);
                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 200;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/cyrillic-ext/wght/normal.woff2);
                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 200;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/latin-ext/wght/normal.woff2);
                unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 200;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/vietnamese/wght/normal.woff2);
                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 300;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/greek-ext/wght/normal.woff2);
                unicode-range: U+1F00-1FFF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 300;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/cyrillic/wght/normal.woff2);
                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 300;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/latin/wght/normal.woff2);
                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 300;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/cyrillic-ext/wght/normal.woff2);
                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 300;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/latin-ext/wght/normal.woff2);
                unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 300;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/greek/wght/normal.woff2);
                unicode-range: U+0370-03FF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 300;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/vietnamese/wght/normal.woff2);
                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 400;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/cyrillic/wght/normal.woff2);
                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 400;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/latin/wght/normal.woff2);
                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 400;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/greek-ext/wght/normal.woff2);
                unicode-range: U+1F00-1FFF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 400;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/latin-ext/wght/normal.woff2);
                unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 400;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/cyrillic-ext/wght/normal.woff2);
                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 400;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/greek/wght/normal.woff2);
                unicode-range: U+0370-03FF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 400;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/vietnamese/wght/normal.woff2);
                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 500;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/cyrillic/wght/normal.woff2);
                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 500;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/cyrillic-ext/wght/normal.woff2);
                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 500;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/greek-ext/wght/normal.woff2);
                unicode-range: U+1F00-1FFF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 500;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/latin/wght/normal.woff2);
                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 500;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/latin-ext/wght/normal.woff2);
                unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 500;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/vietnamese/wght/normal.woff2);
                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 500;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/greek/wght/normal.woff2);
                unicode-range: U+0370-03FF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 600;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/greek-ext/wght/normal.woff2);
                unicode-range: U+1F00-1FFF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 600;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/latin/wght/normal.woff2);
                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 600;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/latin-ext/wght/normal.woff2);
                unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 600;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/vietnamese/wght/normal.woff2);
                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 600;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/cyrillic/wght/normal.woff2);
                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 600;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/greek/wght/normal.woff2);
                unicode-range: U+0370-03FF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 600;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/cyrillic-ext/wght/normal.woff2);
                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 700;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/vietnamese/wght/normal.woff2);
                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 700;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/greek-ext/wght/normal.woff2);
                unicode-range: U+1F00-1FFF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 700;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/greek/wght/normal.woff2);
                unicode-range: U+0370-03FF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 700;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/cyrillic-ext/wght/normal.woff2);
                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 700;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/latin/wght/normal.woff2);
                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 700;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/latin-ext/wght/normal.woff2);
                unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 700;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/cyrillic/wght/normal.woff2);
                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 800;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/cyrillic-ext/wght/normal.woff2);
                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 800;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/greek-ext/wght/normal.woff2);
                unicode-range: U+1F00-1FFF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 800;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/latin-ext/wght/normal.woff2);
                unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 800;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/greek/wght/normal.woff2);
                unicode-range: U+0370-03FF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 800;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/vietnamese/wght/normal.woff2);
                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 800;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/cyrillic/wght/normal.woff2);
                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 800;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/latin/wght/normal.woff2);
                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 900;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/cyrillic-ext/wght/normal.woff2);
                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 900;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/latin-ext/wght/normal.woff2);
                unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 900;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/vietnamese/wght/normal.woff2);
                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 900;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/greek-ext/wght/normal.woff2);
                unicode-range: U+1F00-1FFF;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 900;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/latin/wght/normal.woff2);
                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 900;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/cyrillic/wght/normal.woff2);
                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
                font-display: swap;
            }

            @@font-face {
                font-family: Inter;
                font-style: normal;
                font-weight: 900;
                src: url(https://kanakku.dreamstechnologies.com/cf-fonts/v/inter/5.0.16/greek/wght/normal.woff2);
                unicode-range: U+0370-03FF;
                font-display: swap;
            }</style>

        <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
        <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

        <link rel="stylesheet" href="~/assets/plugins/feather/feather.css">

        <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">

        <link rel="stylesheet" href="~/assets/plugins/datatables/datatables.min.css">
        <link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css">
        <link rel="stylesheet" href="~/assets/css/style.css">
        <script src="~/assets/js/layout.js" type="d7ef46fec84ae941d5488988-text/javascript"></script>
        <link href="~/css/toastr.min.css" rel="stylesheet" />


        <script src="~/assets/js/jquery-3.7.1.min.js" type="26810ea08a8237e6cff40ba4-text/javascript"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
</head>
<body>

    <div class="main-wrapper">

        @{
            await Html.RenderPartialAsync("HeaderView");
            await Html.RenderPartialAsync("_SidebarView");
        }
        @RenderBody()

    </div>

    @{

        await Html.RenderPartialAsync("_SettingView");
    }


    <environment names="Development,Staging,Production">
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/js/toastr.js"></script>

        <script src="~/assets/js/jquery-3.7.1.min.js" type="57229c42889ec2156bb55309-text/javascript"></script>

        <script src="~/assets/js/bootstrap.bundle.min.js" type="57229c42889ec2156bb55309-text/javascript"></script>

        <script src="~/assets/plugins/datatables/datatables.min.js" type="57229c42889ec2156bb55309-text/javascript"></script>

        <script src="~/assets/plugins/select2/js/select2.min.js" type="57229c42889ec2156bb55309-text/javascript"></script>

        <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js" type="57229c42889ec2156bb55309-text/javascript"></script>

        <script src="~/assets/plugins/moment/moment.min.js" type="57229c42889ec2156bb55309-text/javascript"></script>

        <script src="~/assets/plugins/moment/moment.min.js" type="57229c42889ec2156bb55309-text/javascript"></script>
        <script src="~/assets/js/bootstrap-datetimepicker.min.js" type="57229c42889ec2156bb55309-text/javascript"></script>

        <script src="~/assets/js/jquery-ui.min.js" type="57229c42889ec2156bb55309-text/javascript"></script>
        <script src="~/assets/js/feather.min.js" type="d7ef46fec84ae941d5488988-text/javascript"></script>
        <script src="~/assets/plugins/apexchart/apexcharts.min.js" type="d7ef46fec84ae941d5488988-text/javascript"></script>
        <script src="~/assets/plugins/apexchart/chart-data.js" type="d7ef46fec84ae941d5488988-text/javascript"></script>
        <script src="~/assets/js/theme-settings.js" type="57229c42889ec2156bb55309-text/javascript"></script>
        <script src="~/assets/js/greedynav.js" type="57229c42889ec2156bb55309-text/javascript"></script>

        <script src="~/assets/js/script.js" type="57229c42889ec2156bb55309-text/javascript"></script>
        <script src="../../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="57229c42889ec2156bb55309-|49" defer></script>
    </environment>
    @await RenderSectionAsync("Scripts", required: false)
</body>

<!-- Mirrored from kanakku.dreamstechnologies.com/html/template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 21 Aug 2024 11:04:53 GMT -->
</html>